/*font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
/*rgba(179, 130, 148, 0.9);*/

.body {
    font-family: 'ubuntu', sans-serif;
    width: 100%;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
}

.holder {
    width: 100%;
}

/*carrousel*/

.carousel-item img {
    opacity: 0.6;
    width: fit-content;
}

.carousel-item {
    height: 400px;
}

.carousel-item p {
    color: #000000;
    font-size: 20px;
}

.carousel-caption h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-toggler {
    font-size: 20px;
}

.collapse p {
    color: rgba(255, 255, 255, 0.9);
    background-color: #000000;
    opacity: 0.8;
    margin-top: 2%;
}

/*carrito*/

.cart {
    top: 0;
    right: 0;
    width:360px;
    min-height: 100vh;
    padding: 20px;;
    margin-left: 60px;
    background: var(--container-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


#cart-icon {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
}

#cart-icon[data-quantitiy]::after {
    contain: '';
}

#cart-icon[data-quantitiy]::after {
    contain: '';
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
}

h3.cart-title {
    text-align: center;
    font-size: 2.0rem;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    background-color:rgba(179, 130, 148, 0.9) ;
}

.total {
    display: flex;
    justify-content:flex-start;
    margin-top: 1.5rem;
}

.total-title {
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 1rem;
}

.total-price {    
    font-size: 1.2rem;
    margin: 1rem 0 0 0.7rem;
}


/*botones*/


.nuestros-productos {
    text-decoration: none;
    color: #000;
    font-size: 50px;
    display: flex;
    transition: text-decoration 0.6s, color 0.6s;
    position: relative;
    justify-content: center;
    font-family: 'Open Sans', sans-serif, bold;
    padding-top: 2rem;
}

.nuestros-productos:hover {
    text-decoration: none;
    color: #6b4251;
}

.nuestros-productos::after {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 25%;
    height: 2px;
    background-color: #6b4251;
    transition: width 0.3s;
}

.nuestros-productos:hover::after {
    width: 100%;
}

/*botones*/


h5 {
    color: rgb(7, 7, 7);
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
    font-family: 'sans-serif';
}

p {
    color: rgb(41, 41, 41);
    font-weight: bolder;
    font-style: oblique;
    font-size: 30px;
    font-family: 'sans-serif';
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}


.btn-descuento {
    background-color: rgba(179, 130, 148, 0.9);
    color: white;
    border-style: dashed;
}

.btn-descuento,
.btn-buy {
    margin-top: 30%;
    border-radius: 10%;
    border-width: 3px;
    font-size: 1.3rem;
}


/*Productos*/

.caja {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
    margin-bottom: 50px;
}

.cajaItems {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 90%;
}

.item {
    border-radius: 5%;
    border-style: double;
}

.item img {
    height: 120px;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-bottom: 10%;
    margin-right: auto;
    align-items: center;

}

.item span {
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10%;
}

.item button {
    align-items: center;
    margin-left: 7%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-column,
.order-column,
.layout-switcher {
    width: 50%;
}

.order-dropdown {
    position: relative;
}

.order-button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.order-text {
    color: #555;
}

.order-arrow {
    border: solid #555;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 5px;
}

.order-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
}

.order-option {
    display: block;
    padding: 10px;
    width: 100%;
    text-align: left;
    color: #555;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.order-option:hover,
.order-option.selected {
    background-color: #f0f0f0;
}

.flex-container {
    align-items: center;
    margin: auto;
    position: relative;
    display: flex;
}

.holder h2 {
    font-weight: bolder;
    color: #6b4251;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}

.cart-content {
    position: sticky;
    top: 15px;
    background-color: rgba(179, 130, 148, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.cart-content h3 {
    font-size: 15px;
}


.cart-list {
    list-style: none;
    padding: 0;
}

.cart-list li {
    margin-bottom: 1px;
}



/*servicios*/

.servicios p {
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
}

.servicios {
    display: flex;
    margin-top: 10%;
    margin-bottom: 50px;

}

.izquierda {
    background-color: #c9b6bd;
    max-height: 100vh;
    overflow-y: auto;
    max-width: 60%;
}

.derecha {
    background: url(/img/mujer.png);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;
}

.color {
    color: #661231;
    font-size: 25px;
}

/*Nosotros*/


.nosotros p {
    text-align: justify;
    font-size: 15px;
    width: 80%;
    padding: 20px;
    color: #6b4251;
    margin: auto;
}

.nosotros h2 {
    padding-right: 2rem;
    padding-left: 2rem;
    align-content: center;
    margin: auto;
}

;

.nosotros h5 {
    font-size: larger;
}


.nosotros {
    display: flex;
    background: #e3eeed;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.nosotros img {
    width: 100px;
    height: 100px;
    margin-bottom: 1%;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
}

.persona1 {
    background-color: #c9b6bd;
}


@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .body {
        width: 100%;
    }

    .holder {
        width: 100%;
    }


}

/*FIN PRODUCTOS*/

/*CONTACTO*/

form {
    margin-top: 20px;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin-right: 5%;
    background-color: rgba(179, 130, 148, 0.9);
    opacity: 0.8;
    margin-bottom: 50px;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.formulario h2 {
    color: #ffffff;
    font-size: 40px;

}

label {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}


input,
textarea {
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
    width: 60%;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: rgb(156, 156, 156);
}

.formulario input[type="submit"] {
    width: 20%;
}

.btn {
    border: 0;
    border-radius: 25px;
    background-color: #5fc0b8;
}

.formulario input[type="submit"]:hover {
    background-color: #aabdbb;
}

.contacto {
    gap: 24px;
    display: flex;
    margin-bottom: 50px;
}

.contacto div {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
}

.contacto h2 {
    font-size: 40px;

}

/*fin CONTACTO*/